<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Test Regression PW Suite"  thread-count="1" parallel = "tests"   verbose="4">


    <test name="Sample Test">
        <classes>
            <class name="tests.SampleTest" />
        </classes>
    </test>

    <!--        <test name="Login Test">-->
    <!--            <classes>-->
    <!--                <class name="tests.SampleTest" />-->
    <!--            </classes>-->
    <!--        </test>-->

</suite>
