<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UI Framework-Selenide Tests" verbose="1" parallel="methods" thread-count="2">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="listeners.AllureFailureListener"/>
    </listeners>

    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="Main Page Features Test">
        <classes>
            <class name="tests.MainPageFeaturesTest"/>
        </classes>
    </test>

    <test name="Products Test">
        <classes>
            <class name="tests.ProductsTest"/>
        </classes>
    </test>

</suite>
